.hero {
  height: 100vh;
  background: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ), url('../img/school.jpg') center/cover no-repeat;
}

/* FIX NAVBAR NUTUP KONTEN */
body {
  padding-top: 70px;
}

/* FOTO PROFIL SEKOLAH */
.profile-img {
  width: 100%;
  max-width: 400%;
  max-height: 1000px;
  object-fit: cover;
  
}
